//# app/views/report_issues/remove_issues.js.erb
<% if @issue_ids.present? %>
<% @issue_ids.each do |issue_id| %>
$('#issue-row-<%= issue_id %>').fadeOut('normal', function() {
    $(this).remove();
});

// Обновляем select2
var $issuesSelect = $('#issues-select');
if ($issuesSelect.length) {
    $issuesSelect.find('option[value="<%= issue_id %>"]').remove();
}
<% end %>

// Обновляем select2 после всех изменений
$('#issues-select').trigger('change');

// Сбрасываем состояние
$('#select-all-issues').prop('checked', false);
$('#delete-selected-issues').hide();

// Показываем пустое состояние если нужно
if ($('#report-issues-body tr').length === 0) {
    $('#report-issues-body').html('<tr><td colspan="10" class="text-center">Нет задач</td></tr>');
}

// Показываем flash-сообщение
var $notice = $('<div class="flash notice"></div>')
  .html('Успешно удалено')
  .hide()
  .prependTo('#content')
  .fadeIn();

setTimeout(function() {
    $notice.fadeOut(function() { $(this).remove(); });
}, 3000);
<% else %>
alert('Выберите задачи для удаления');
<% end %>